@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
body{
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
     color:#51360b;
        transition: color 250ms;
}
header{
    background-color:#dc291e;
    color:#fff;
    height:50px;
    font-family: 'Open Sans', sans-serif; 
    position: fixed;
    width:100%;
   z-index: 1030;
}
header .logo a{
  color:#fff;
  font-size: 30px;
  line-height:50px;
  text-decoration: none
  
}
header .navbar-right{
    display: inline-block;
    float: right
}
header .navbar-right li{
    list-style: none;
    display: inline
   
}
header .navbar-right li a{
  font-size: 18px   ;
  text-decoration: none
}
.sign-up {
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    height:700px;
}

.sign-up .sign{
    width:100%;
    padding-top:300px;
    color:#fff;
    font-size: 18px;
    
}
.sign-up .sign p:last-child{
    font-size: 14px
}
.sign .form-div{
    background:#fff;
    display: inline-block;
    padding:10px 15px 10px 15px;
    border-radius: 10px
}
.sign-up .sign form{
 margin-bottom: 0
}
.sign form .form-control{
    border-radius: 0;
    height:45px;
   
   /* background:rgba(255,255,255,0.5);
    border-color:rgba(255,255,255,0.3);*/
    border:0;
    outline: none;
    box-shadow: none;
    padding-top:0;
    padding-bottom: 0;
    font-size: 18px
}
@media(min-width:450px){
    .sign form .form-control{
      width:400px; 
        font-size:26px
    }   
}
.sign form .btn{
 background-color:#c01504;
    height:45px;
    border-color:#c01504;
    color:#fff;
    width: 130px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 1px 0 3px 1px;
    border-radius: 8px;
    
}
footer{

background-color:rgb(45, 43, 43);
color:rgb(243, 245, 248);
   
    border-top:1px solid rgba(255,255,255,0.3)
}
footer h3{
    text-transform: uppercase;
        font-size: 26px;
    font-weight: 400;
}
footer .line{
    width:70px;
    height: 2px;
    background:#dc291e;
    margin-right: auto;
    margin-bottom:20px;

}
footer ul{
    padding-left:5px;
}
footer ul li{
    list-style: none;
     font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    margin-bottom: 10px;
    overflow: hidden;
    
}
footer .form-group{
    margin-bottom: 10px
}
footer .form-control{
    border-radius: 0;
    background:rgba(255,255,255,1);
    width:80%
}

footer input.form-control{
    height: 40px
}
footer .btn{
    background-color:#c01504;
    color: #fff;
    height: 45px;
    border-color:#c01504;
    border-radius: 0;
    width:80%;
    text-transform: uppercase
}
footer .lead{
    font-weight: 200;
    font-size: 14px;
    color:#8e8c8c
}
.bottom-footer{
    background:#dc291e;
    padding:15px;
    margin-bottom: 30px
}
.bottom-footer p{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    color:#fff
}
.modal-content{
   background-color:rgb(45, 43, 43);
color:rgb(243, 245, 248);
    padding:15px;
    font-family: 'Montserrat', sans-serif;
    margin-top:50px
}
.top-h{
    margin-bottom: 30px
}
.modal-content h3{
    font-size: 22px;
    font-weight: 400;
    
}
.modal-content h3 span{
    color:#dc291e;
    font-size:32px 
}
.modal-content .btn{
    background-color: #c01504;
    border-color: #c01504;
    margin-bottom:5px;
    width:100%;
    height:40px;
    border-radius: 0;
    line-height: 30px;
    padding-left: 0;
    padding-right: 0
}
.modal-content p b{
    color: #908c8c;
}
.modal-content .head{
    margin-bottom: 40px
}
.modal-content .row{
    margin-right:0;
    margin-left: 0
}
.modal-content .row h3{
        color: #dc291e;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.modal-content ul{
        -webkit-padding-start:20px;
}
.modal-content li{
    list-style:circle;
    color:#b3b2b2;
    margin-bottom: 10px
}
.ex{
 color:#dc291e;
font-weight: bold
}
 .modal-header {
    min-height: 0;
    padding: 0;
    border-bottom:0;
}
   .modal-header button{
      background: transparent;
      border: 0;
      position: absolute;
      right: -14px;
    top: -12px;
    z-index: 999;
    }
 .modal-header img.close{
      width:25px   ;
      opacity:1
    }
@media (min-width:768px){
.modal-lg {
    width: 90%;
}
}